node_modules
.idea

#awsmobilejs
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
