@import "../../base/base";

.product-card {
  padding: 5%;
  display: inline-block;
  text-transform: capitalize;
  border-bottom: 1px solid $light-shadow;

  .product-card-image {
    width: auto;
    max-width: 75%;
    display: block;
    margin: auto;
    cursor: pointer;
  }
  .product-card-name {
    font-size: 16px;
    text-decoration: none;
    display: block;
    color: black;
    padding-right: 7px;
    margin: 5px 0;
    cursor: pointer;
  }

  .product-card-size {
    display: inline-block;
    font-size: 12px;
  }

  .product-card-price {
    color: $price-green;
    display: inline-block;
    margin-left: 10px;
    font-weight: 600;
  }

  .product-card-buttons {
    display: flex;
    justify-content: flex-start;



    .product-card-add-to-cart {
      width: auto;
      height: 25px;
      padding: 5px 15px;
      border: 1px solid $cart-color;
      margin: 5px 5px 0 0;

      &:hover {
        cursor: pointer;
        background-color: $hovered-cart-color;
        border: 1px solid $hovered-cart-color;
        box-shadow: -2px 2px 5px $light-shadow;
      }
    }

    .product-card-quantity {
      padding: 7px 5px;
      color: $quantity-color;
      width: 50px;
      border: 1px solid $quantity-color;
      text-align: center;
      margin: 5px 5px 0 0;

      .product-card-quantity-change {
        display: inline-block;
        font-weight: 600;
        margin: 0 3px;
        padding: 0 2px;
        cursor: pointer;
        &:hover {
          background-color: $quantity-color;
          color: white;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}
