@import "../../base/base";

.product-card {
  padding: 0;
  display: inline-block;
  text-transform: capitalize;

  .product-card-image {
    width: auto;
    max-width: 90%;
    display: block;
    margin: auto;
  }
  .product-card-name-small {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding-right: 7px;
    margin: 5px 0;
  }

  .product-card-size {
    display: inline-block;
    font-size: 12px;
  }

  .product-card-buttons {
    display: flex;
    justify-content: space-between;

    .product-card-price {
      padding: 7px 5px;
      color: $price-green;
      width: 50px;
      border: 1px solid $price-green;
      text-align: center;

    }

    .product-card-add-to-cart {
      width: auto;
      height: 25px;
      padding: 5px 15px;
      border: 1px solid $cart-color;
      &:hover {
        cursor: pointer;
        background-color: $hovered-cart-color;
        border: 1px solid $hovered-cart-color;
        box-shadow: -2px 2px 5px $light-shadow;
      }
    }
  }
}
