@import "../../base/base";

.product-card {
  padding: 10%;
  display: inline-block;
  text-transform: capitalize;

  .product-card-image-large {
    width: auto;
    max-width: 70%;
    display: block;
    margin: auto;
  }
  .product-card-name {
    font-size: 40px;
    display: inline-block;
    padding-right: 7px;
    margin: 5px 0;
  }

  .product-card-description {
    font-size: 14px;
    display: inline-block;
    padding-right: 7px;
    margin: 5px 0;
  }

  .product-card-size {
    display: inline-block;
    font-size: 12px;
  }

  .product-card-buttons {
    display: flex;
    justify-content: space-between;

    .product-card-price {
      padding: 7px 5px;
      color: #008800;
      width: 50px;
      border: 1px solid #008800;
      text-align: center;

    }

    .product-card-add-to-cart {
      width: auto;
      height: 25px;
      padding: 5px 15px;
      border: 1px solid $cart-color;
      &:hover {
        cursor: pointer;
      }
    }
  }
}