
.logo-style {
  display: block;
  width: 40%;
  text-align: center;
  margin: auto;
  padding-bottom: 4px;
  padding-top: 4px;
}

.banner-style {
  display: inline-block;
  width: 100%;
  align-content: center;
}