@import './base/base';

.title {
  font-size:30px;
  color: $price-green;
  padding-bottom: 20px;
}

.back-to-browse {
  font-size:16px;
  color: $price-green;
  display: inline-block;
  padding-bottom: 20px;
  padding-left: 10px;
  &:hover {
    text-decoration: underline;
  }
}

.search-prompt {
  width: 100%;
  text-align: center;
  margin-top: 200px;
}